# ===== for zsh/bash direnv =====
if [ -d ".venv/bin" ]; then
    echo ".venv/bin dir exists"
    source .venv/bin/activate
fi

# ===== for GitBash direnv =====
if [ -d ".venv/Scripts" ]; then
    echo ".venv/Scripts dir exists"
    source .venv/Scripts/activate
fi


# --- for bash ---
if [ -z "${VENV_BASE:-}" ] && [ -n "${VIRTUAL_ENV:-}" ]; then
    VENV_BASE=$(basename "${VIRTUAL_ENV}")
fi
export VENV_BASE
unset PS1
