# ===== for zsh/bash direnv =====
if [ -d ".venv/bin" ]; then
    echo ".venv/bin dir exists"
    source .venv/bin/activate

    --- for bash ---
    if [ -z "${VENV_BASE:-}" ] && [ -n "${VIRTUAL_ENV:-}" ]; then
        VENV_BASE=$(basename "${VIRTUAL_ENV}")
    fi
    export VENV_BASE
    unset PS1
fi

# ===== for GitBash direnv =====
if [ -d ".venv/Scripts" ]; then
    echo ".venv/Scripts dir exists"

    echo " !!! ----------------------------------------------- !!! "
    echo " !!! --- Execute "source .venv/Scripts/activate" --- !!! "
    echo " !!! ----------------------------------------------- !!! "

fi
